/*
	Author lsart.ru
*/

@font-face {
	font-family:calibri; 
	src:url(../ttf/calibri.ttf);
}

@font-face {
	font-family:calibri; 
	src:url(../ttf/calibri.eot);
}

@font-face {
	font-family:calibrib; 
	src:url(../ttf/calibrib.ttf);
}

@font-face {
	font-family:calibrib; 
	src:url(../ttf/calibrib.eot);
}

b {
	font-family:calibrib; 
}

@font-face {
	font-family:Minecraft; 
	src:url(../ttf/Minecraft.ttf);
}

html, 
body {
	background:#7D4427;
	margin:0; 
	padding:0;
	font-family:calibri;
	font-size:14px; 
	color:#534f47;
}

a {
	color:#534f47; 
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

ul, 
li {
	display:block; 
	padding:0; 
	margin:0; 
	list-style:none;
}

.left {
	float:left;
	color: #df6824;
	font-weight: bold;
}

.right {
	float:right;
}

.center {
	text-align:center;
}

.hidden {
	overflow:hidden;
}

.clear {
	clear:both;
}

#wrapper {
	min-width:1000px;
}

.full {
	width:1000px;
	margin:0 auto;
}

.bg-1 {
	background:url(../images/bg-1.jpg) repeat-y center 0;
}

.bg-2 {
	background:url(../images/bg-2.png) no-repeat center top;
}

.bg-3 {
	background:url(../images/bg-3.jpg) no-repeat center bottom;
}

.header {
	overflow:hidden;
	height:436px;
}

.header a.header-logo {
	display:block;
	width: 312px;
	height:58px;
	position:absolute;
	margin: 263px 0 0 355px;
}

.header a.header-start {
	display:block;
	width: 153px;
	height: 38px;
	position:absolute;
	margin: 398px 0 0 739px;
}

.header a.header-launcher {
	display:block;
	width: 153px;
	height: 38px;
	position:absolute;
	margin: 398px 0 0 739px;
}

.header a.header-start:hover {
	background:rgba(255,255,255, 0.4);
}

.header a.header-launcher:hover {
	background:rgba(255,255,255, 0.4);
}

.header ul {
	overflow:hidden;
	height: 71px;
	position:absolute;
	margin: 388px 0 0 0;
	margin-left: 30px;
}

.header ul  li {
	float:left;
	min-width:2px;
	height:71px;
}

.header ul  li a {
	display:block;
	height: 58px;
	line-height: 56px;
	margin: 0 2px 0 0;
	color:#faf8ab;
	text-shadow:1px 1px #3f4c01;
	text-decoration:none;
	padding: 0 12px;
	font-size: 18px;
	font-family: calibri;
	transition: all 0.3s;
}

.header ul  li a:hover {
	background:rgba(3,3,1, 0.2);
	text-shadow:1px 1px #394204;
}

.footer {
	overflow:hidden;
	height: 204px;
}

.footer .footer-text {
	float:left;
	color:#faf8aa;
	text-shadow:1px 1px #465501;
	padding: 44px 0 0 30px;
	font-family:calibrib;
	font-size:14px;
}

.footer .footer-text a {
	color:#faf8aa;
}

.footer .footer-advert {
	float:right;
	margin:48px 22px 0 0;
}

.footer .footer-advert .blank {
	float:left;
	width:88px;
	height:31px;
	background:#fff;
	margin:0 0 0 10px;
}


.side-main {
	overflow:hidden;
	min-height:500px;
}

.side-main .side-left {
	float:left;
	width: 611px;
	margin: 25px 0px 0 83px;
}

.side-main .side-in {
	overflow:hidden;
	margin: 25px 0 0 0;
}

.slides {
	background:url(../images/slides.png) no-repeat 0 0;
	width:650px;
	height:242px;
	margin: 32px 0 0 -16px;
}

.slides .slides_container {
	display:none;
	width: 529px;
	height:219px;
	position:relative;
	top:7px;
	left:8px;
}

.slides .slides_container img {
	width: 529px;
	height: 204px;
}

.GrCstart {
    padding: 20px;
    font-size: 26pt;
    font-weight: bold;
    background-color: white;
    background: url(/files/numBG.jpg?);
    width: 20px;
    border-radius: 50px;
    color: #FFF;
    text-shadow: 1px 0px 0px #422318;
}

.slides .slides_container a {
	display:block; 
	text-decoration:none;
	width:633px;
	height:219px; 
}

.slides .slides_switch {
	position:absolute;
	z-index:12;
}

.slides .slides_switch a {
	transition:all .3s;
	display:block; 
	width:41px; 
	height:41px; 
	position:relative; 
	cursor:pointer;
}

.slides .slides_switch a:hover {
	opacity:0.6;
}

.slides .slides_switch a.prev {
    text-decoration: none;
	top:90px; 
	left:25px; 
}

.slides .slides_switch a.next {
    text-decoration: none;
	top:49px;
	left: 475px;
}

.viewn {
	width: 563px;
}

.viewn .viewn-top {
	height: 50px;
	line-height: 34px;
	font-size: 23px;
	font-family:calibrib;
	color: #e56b1e;
	overflow:hidden;
	margin: 0 0 -13px 0;
	padding: 0 0 0 0px;
	margin-left: -34px;
}

.viewn .viewn-top a {
	color:#9F641E;
}




.sale {
  position: relative;
  display: inline-block;
  background: #ee5f5b;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  margin: 45vh 45vw;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation: beat 1s ease infinite alternate;
          animation: beat 1s ease infinite alternate;
}
.sale:before, .sale:after {
  content: "";
  position: absolute;
  background: inherit;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sale:after {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

@-webkit-keyframes beat {
  from {
    -webkit-transform: rotate(-20deg) scale(1);
            transform: rotate(-20deg) scale(1);
  }
  to {
    -webkit-transform: rotate(-20deg) scale(1.1);
            transform: rotate(-20deg) scale(1.1);
  }
}

@keyframes beat {
  from {
    -webkit-transform: rotate(-20deg) scale(1);
            transform: rotate(-20deg) scale(1);
  }
  to {
    -webkit-transform: rotate(-20deg) scale(1.1);
            transform: rotate(-20deg) scale(1.1);
  }
}




.viewn .viewn-content {
	overflow:hidden;
	margin: 0 0 0 -50px;
}

.viewn .viewn-screen {
	background:url(../images/viewn-screen.png) no-repeat 0 0;
	width: 153px;
	height: 120px;
	overflow:hidden;
	margin:0 auto;
	margin-left: 10px;
}

.viewn .viewn-screen img {
	/* width: 225px; */
	height: 113px;
	display:block;
	padding:5px 0 0 6px;
}

.viewn .viewn-text {
	width: 528px;
	margin: 0 auto;
	padding: 15px 0 5px 0;
	color:#48453e;
}

.viewn .viewn-text a {
	color:#48453e;
}
.page-claim-l img {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    display: block;
    border: 5px solid #C5AC68;
}

.page-claim {
    overflow: hidden;
}
.page-claim-l {
    float: left;
    width: 142px;
    margin: 0 20px 0 0;
}

.page-claim-icon {
    position: absolute;
    width: 37px;
    height: 37px;
    line-height: 38px;
   background: #C5AC68;
    color: #fff;
    border-radius: 50%;
    font-size: 21px;
    text-align: center;
}
.viewn .viewn-panel {
	background:url(../images/viewn-panel.png) no-repeat 0 0;
	width: 620px;
	height: 60px;
	margin-left: -55px;
	overflow:hidden;
	margin-top: 12px;
}

.viewn .viewn-panel ul {
	float:left;
	height: 16px;
	margin: 9px 0 0 32px;
}

.viewn .viewn-panel ul li {
	float:left;
	height:16px;
	line-height:16px;
	border-right:1px solid #c9c1a9;
	padding:0 10px;
	color:#7f766f;
}

.viewn .viewn-panel ul li  a {
	color:#7f766f;
}

.viewn .viewn-panel ul li:last-child {
	border:none;
}

.viewn .viewn-panel ul li span {
	color:#3f95ca;
	font-family:calibrib;
}

.viewn .viewn-panel ul li b {
	color:#484441;
}

.old_price {
    display: inline-block;
    font-size: 16px;
    color: #80623F;
    margin-right: -33px;
}
.old_price:after {
    content: " ";
    display: inline-block;
    position: relative;
    border: 1px solid #DE5121;
    left: -30px;
    top: -3px;
    height: 0px;
    width: 35px;
    -moz-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    -webkit-transform: rotate(-24deg);
    -o-transform: rotate(-24deg);
    transform: rotate(-24deg);
}

.viewn a.viewn-link {
	background:url(../images/viewn-link.png) no-repeat 0 0;
	padding: 0 0 0 25px;
	margin: 6px 17px 0 0;
	float:right;
	display:block;
	text-decoration:none;
	color:#464646;
	font-size:16px;
	font-family:calibrib;
	transition:all .3s;
}

.viewn a.viewn-link:hover {
	opacity:0.6;
}

#paginator {
	overflow:hidden;
	height:28px;
	margin:1px 0 3px 19px;
}

#paginator a,
#paginator span {
	background:url(../images/paginator.png) no-repeat left 0, url(../images/paginator.png) no-repeat right -28px, url(../images/paginator.png) repeat-x 0 -56px;
	display:block;
	height:28px;
	line-height:28px;
	margin:0 5px 0 0;
	cursor:pointer;
	text-decoration:none;
	padding:0 9px;
	color:#feffe3;
	text-shadow:1px 1px #3d4a01;
	font-family:calibrib;
	transition:all .3s;
}

#paginator div a,
#paginator div span {
	float:left;
}

#paginator a:hover,
#paginator span:hover {
	opacity:0.8;
}

#paginator a.right {
	float:right;
	margin:0 10px 0 0;
}

.block {
	margin:0 0 10px 0;
	width: 245px;
}

.block .block-top {
	/* background:url(../images/block-top.png) no-repeat 0 0; */
	height: 49px;
	overflow:hidden;
	line-height: 48px;
	font-size:20px;
	font-family:calibrib;
	color: #9F641E;
	/* text-shadow:1px 1px #3f4c01; */
	margin: 0 0 2px 0;
	text-align:center;
}

.block .block-content {
	overflow:hidden;
	margin:0 0 0 11px;
}

.auth {
	overflow:hidden;
	width:223px;
	margin:0 auto;
}

.auth input,
.auth button {
	border:none;
	outline:none;
	font-family:calibri;
	font-size:14px; 
	color:#a09277;
}

.auth input[type="login"],
.auth input[type="password"] {
	background:url(../images/auth-input.png) no-repeat 0 0;
	width:203px;
	height:46px;
	padding:0 10px;
	text-align:center;
	margin:0 0 5px 0;
}

.auth input[type="password"] {
	margin:0 0 10px 0 !important;
}

.auth a.reg {
	background:url(../images/auth-button.png) no-repeat 0 0;
	display:block;
	float:left;
	width:135px;
	height:26px;
	transition:all .3s;
}

.auth button {
	background:url(../images/auth-button.png) no-repeat -135px 0;
	float:right;
	width:78px;
	height:26px;
	cursor:pointer;
	transition:all .3s;
}

.auth a.reg:hover,
.auth button:hover {
	opacity:0.8;
}


.monitoring {overflow:hidden; width:230px;}
.monitoring .info {background:url(../images/monitoring.png) no-repeat 0 -36px; overflow:hidden; width:230px; height:36px;}
.monitoring .info div {background:url(../images/monitoring.png) no-repeat 0 0; overflow:hidden; width:230px; height:36px;}
.monitoring .left, .monitoring .right {padding:2px 10px 2px 10px;}
.monitoring .right {color: #944527;      font-weight: bold;}

.baseform {
	display:block !important;
}

.bb-pane,
.mass_comments_action {
	display:none;
}

.bordered {
    *border-collapse: collapse;
    border-spacing: 0;  
    width: 98%;
}

.bordered {
    border: solid #B16217 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #B16217; 
    -moz-box-shadow: 0 1px 1px #B16217; 
   
}

.bordered tr:hover {
    background: #FBECDD;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;     
}    
    
.bordered td {
    border-left: 1px solid #B16217;
    border-top: 1px solid #B16217;
    padding: 10px;
    text-align: center;    
}

.bordered th {
    border-left: 1px solid #B16217;
    border-top: 1px solid #B16217;
    padding: 10px;
    text-align: center;    
}

.bordered th {
	background-color: #B16217;
    border-top: none;
    color: white;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.shophover:hover {
	background: rgb(216, 207, 175);
	cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#game_online {
	background: rgb(245, 234, 199);
	padding: 10px;
	border-radius: 10px;
	position: relative;
}

#chatLog {
	border: 1px solid rgb(221, 221, 221);
	height: 200px;
	margin-bottom: 10px;
	background-color: rgb(255, 254, 252);
	border-radius: 10px;
	padding: 10px;
	overflow: auto;
}

#buttonArea {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 7px 14px 15px;
}

#game_current {
	text-transform: uppercase;
	border-top: 1px solid rgb(218, 213, 200);
	padding-top: 5px;
	width: 200px;
}

#game_chance_box {
	float: left;
	margin-top: 20px;
	width: 100px;
	overflow: hidden;
	text-align: center;
	background: rgb(245, 234, 199);
	padding: 10px;
	border-radius: 10px;
	margin-bottom: -10px;
}

#game_chance {
	font-size: 16pt;
	margin-bottom: 7px;
}

#gameLog {
	height: 90px;
	background: rgb(245, 239, 220);
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	overflow: auto;
	color: rgb(132, 132, 132);
}
.store_choose_server {
    height: 75px;
    background-color: #F5F0E1;
    padding: 10px 10px 0px;
    margin-bottom: 10px;
    border-radius: 10px 25px;
}

.store_choose_server:hover {
    cursor: pointer;
    background-color: #ECE5CF;
    animation-name: changeColor;
    animation-duration: 2s;
}

.store_shop_name {
    font-size: 20pt;
    color: #484E0C;
}

.store_buy_button {
	    border-radius: 0px;
    width: 54px;
    height: 34px;
    font-size: 10pt;
    margin-top: 1px;
}
.store_price_price {
	color: #FFF;
	background-color: #E2B285;
	padding: 5px;
}

.store_price_percent {
	background-color: #E0A267;
	padding: 5px;
	margin-right: -3px;
	color: #FFF;
	margin-right: 5px;
}

.orangebutton {
    background: url(/templates/FiresCraft/images/mini-prof-button1.png) no-repeat 0 0;
    display: block;
    width: 212px;
    height: 43px;
    line-height: 37px;
    color: #fff;
    text-align: center;
    font-family: calibrib;
    margin-left: 10px;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    font-size: 16px;
}
.orangebutton:hover{
    background-position:0 -43px;
    color: #fff;
    text-decoration: none;
}

.goldbutton {
    background: url(/templates/FiresCraft/images/mini-prof-button2.png) no-repeat 0 0;
    display: block;
    width: 212px;
    height: 43px;
    line-height: 37px;
    color: #000;
    text-align: center;
    font-family: calibrib;
    margin-left: 10px;
    font-size: 16px;
}
.goldbutton:hover{
    background-position:0 -43px;
    color: #fff;
    text-decoration: none;
}

.minibutton {
    background: url(/templates/FiresCraft/images/mini-button.png) no-repeat 0 0;
    display: block;
    width: 122px;
    height: 43px;
    line-height: 37px;
    color: #000;
    text-align: center;
    font-family: calibrib;
    margin-left:54px;
    font-size: 16px;
}
.minibutton:hover{
    background-position:0 -43px;
    color: #fff;
    text-decoration: none;
}
