body{
	background-color: #333;
	color:orange;
}

#login{
	border:1px solid #cecece;
	width:280px;
	border-radius:5px;
	padding:7px;
	margin:15px;
	background-color:#666666;
	cursor:pointer;
}

#login > h1{
	margin:0px;
	text-align:center;
}

#login span{
	color:blue!important;
}