@font-face {
	font-family: MagistralC;
	src: url(fonts/MagistralC.otf);
}

@font-face {
	font-family: MagistralBold;
	src: url(fonts/MagistralC-Bold.otf);
}

body{
	background-color: #E8E9EA;
	font-family: 'MagistralC', sans-serif;
	padding:0px;
	margin:0px;
}

a:hover{
	text-decoration:none;
}

#topline{
	min-height:64px;
	background-color:white;
}
#logo{
	color:rgb(8, 8, 8);
	font-family: 'MagistralBold', sans-serif;

}
#logo1{
	font-family: 'MagistralBold', sans-serif;
	color:rgb(57, 255, 231);
}

#topwrapper{
	margin:auto;
}

.navbar{
	box-shadow:none !important;
	border-radius:0px !important;
	margin-bottom:0px !important;
}

.navbar-brand{
	font-weight:bold;
	font-size:28px !important;
}

#topwrapper{
	font-size:16px !important;
}

.cont_icon{
	top:3px;
	display:none;
}

.basket_text{
	display:none;
}

.basket_icon{
	font-size:20px;
}

.basket_count{
	display:block;
	width:14px;
	height:14px;
	position:absolute;
	top:-4px;
	right:-2px;
	background-color:red;
	border-radius:50%;
	font-size:11px;
	text-align:center;
	color:White;
}

#slider{
	height:auto;
	margin:25px auto;
	background-color:white;
}

#corusel{
	height:auto;
	overflow:hidden;
	background-color:#CCCCCC;
}

#slidenavig{
	height:60px;
	overflow:hidden;
}

.slidnavigbox{
	width:16.66%;
	height:60px;
	float:left;
	text-align:center;
}

.snbg{
	background-image:url('../images/slidenavig-bg.png');
	background-repeat:no-repeat;
	background-position:right;
}

.slidnavigbox .sn-text{
	font-size:17px;
	line-height:60px;
	color:black;
	transition:color ease 0.3s;
}

.slidnavigbox:hover .sn-text{
	color:orange;
}

.slidnavigbox:hover .sn-icon{
	color:orange;
}

.sn-icon{
	display:none;
	line-height:60px;
	color:#7A7A7A;
	font-size:20px;
	transition:color ease 0.3s;
}

#wrapper{
	margin:auto;
	background-color:white;
	overflow:hidden;
}

.content{
	margin:15px;
}

.conthead{
	margin-bottom:15px;
}

.conthead h1, h2{
	padding:0px;
	margin:0px;
}

.conthead h1{
	font-size:32px;
}

.conthead h2{
	font-size:24px;
}

#category-wrapper{
	margin:15px;
}

#content-navigation{
	min-height:180px;
}

.contnav-box{
	width:25%;
	height:180px;
	padding:0px 15px 15px 15px;
	float:left;
}

.contnav-wrap{
	height:100%;
	background-color:#F2F2F2;
}

.contnav-img{
	height:70%;
	overflow:hidden;
}

.contnav-name{
	height:30%;
	overflow:hidden;
}

.contnav-name > span{
	display:block;
	text-align:center;
	line-height:50px;
	font-size:24px;
	color:#333;
}

#newitems{
	min-height:320px;
}

.newitem{
	min-height:160px;
	background-color:#EAEAEA;
	margin-bottom:15px;
}

.item-img{
	overflow:hidden;
	background-color:#DBDBDB;
	padding:7px;
}

.itmbg{
	overflow:hidden;;
}

.itmbg > img{
	width:100%;
}

.item-info{
	overflow:hidden;
}


.itminf-title{
	min-height:40px;
	overflow:hidden;
	padding:7px;
}

.itmtitle-bg{
	padding:5px;
	background-color:white;
}

.itmtitle-bg span{
	font-size:18px;
	color:black !important;
}

.glyphicon-edit{
	font-size:14px !important;
	color:orange;
	left:5px;
}

.itminf-descr{
	overflow:hidden;
	padding:0px 7px 7px 7px;
}

.itmdescr-cont{
	padding:7px;
	min-height:50px;
	background-color:#DDDDDD;
}

@media(max-width:519px){ /*только мобильные устройства*/
	#slider{
		width:100%;
	}

	#wrapper{
		width:90%;
	}

	.basket_text{
		display:inline;
	}

	.basket_icon{
		top:2px;
	}

	.basket_count{
		display:none;
	}

	.slidnavigbox .sn-text{
		display:none;
	}

	.sn-icon{
		display:inline;
	}

	.contnav-box{
		width:50%;
	}

	.conthead h1{
		font-size:25px;
	}

	.contnav-img{
		position:relative;
	}

	.contnav-img img{
		width:100%;
		margin:auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.contnav-name > span{
		font-size:18px;
	}
}

@media (min-width:520px) and (max-width:767px){ /*мобильные устройства в горизонтальном положении или планшеты с небольшим разрешением*/
	#slider{
		width:100%;
	}

	#wrapper{
		width:90%;
	}

	.basket_text{
		display:inline;
	}

	.basket_icon{
		top:2px;
	}

	.basket_count{
		display:none;
	}

	.slidnavigbox .sn-text{
		display:none;
	}

	.sn-icon{
		display:inline;
	}

	.contnav-box{
		width:50%;
	}

	.conthead h1{
		font-size:26px;
	}

	.contnav-name > span{
		font-size:20px;
	}
}

@media (min-width:768px) and (max-width:991px){ /*планшеты, нетбуки, или компьютеры с небольшими разрешениями*/
	#slider{
		width:720px;
	}

	#wrapper{
		width:720px;
	}

	.cont_icon{
		display:block;
	}

	.cont_text{
		display:none;
	}

	.slidnavigbox .sn-text{
		font-size:14px;
	}

	.item-img{
		width:25%;
		float:left;
		height:160px;
		padding:15px;
	}

	.item-info{
		width:75%;
		float:right;
		height:160px;
	}
}

#fullitem{
	outline:1px solid red;
	min-height:320px;
}

@media (min-width:992px) and (max-width:1199px){ /*планшеты с большими экранами, компьютеры с средними разрешениями экранов*/
	#slider{
		width:920px;
	}

	#wrapper{
		width:920px;
	}

	#topwrapper{
		width:920px;
	}

	.container{
		width:920px;
		padding-left:0px !important;
		padding-right:0px !important;
	}

	.item-img{
		width:25%;
		float:left;
		height:160px;
		padding:15px;
	}

	.item-info{
		width:75%;
		float:right;
		height:160px;
	}

	#itemleft{
		width:70%;
		float:left;
	}

	#itemright{
		width:30%;
		float:right;
	}
}

@media (min-width:1200px) and (max-width:1440px){ /*компьютеры с разрешением чуть больше среднего*/
	#slider{
		width:1020px;
	}

	#wrapper{
		width:1020px;
	}

	#topwrapper{
		width:1020px;
	}

	.container{
		width:1020px;
		padding-left:0px !important;
		padding-right:0px !important;
	}

	.item-img{
		width:25%;
		float:left;
		height:160px;
		padding:15px;
	}

	.item-info{
		width:75%;
		float:right;
		height:160px;
	}

	#itemleft{
		width:70%;
		float:left;
	}

	#itemright{
		width:30%;
		float:right;
	}
}

@media (min-width:1441px){ /*большие экраны*/
	#slider{
		width:1120px;
	}

	#wrapper{
		width:1120px;
	}

	#topwrapper{
		width:1120px;
	}

	.container{
		width:1120px;
		padding-left:0px !important;
		padding-right:0px !important;
	}

	.item-img{
		width:25%;
		float:left;
		height:160px;
		padding:15px;
	}

	.item-info{
		width:75%;
		float:right;
		height:160px;
	}

	#itemleft{
		width:70%;
		float:left;
	}

	#itemright{
		width:30%;
		float:right;
	}
}



/*Item page*/
#item{
	overflow:hidden;
	padding-bottom:15px;
}

.gly-edit-item{
	top:-3px;
}

#itemleft{
	padding:15px;
	overflow:hidden;
}

#itemright{
	padding:15px;
	height:500px;
	overflow:hidden;
}

#itemImages{
	background-color:#EFEFEF;
	margin-bottom:15px;
	overflow:hidden;
}

.fotorama{
	width:90%;
	margin:15px auto 15px auto;
	overflow:hidden;
}

#itemDescription{
	background-color:#EFEFEF;
	overflow:hidden;
}

#itemDescrTitle{
	font-size:18px;
	line-height:18px;
	font-weight:bold;
	margin:15px;
}

#itemDescrText{
	margin:15px;
}

#itemInfo{
	background-color:#F4F4F4;
}

.itemInfoBox{
	overflow:hidden;
	padding:7px;
}

#itemPrice{
	font-size:24px;
}

#addToCart{
	background-color:#FF8738;
	height:40px;
	margin:0px 7px;
	transition:background-color ease 0.5s;
}

#addToCart:hover{
	background-color:#FF6A00;
}

#addToCart > span{
	display:block;
	line-height:40px;
	text-align:center;
	color:WHITE;
}
/*Item page End*/



/*Admin*/
.admnin-content{
	width:100%;
	min-height:320px;
}

.admnin-content input{
	border:1px solid #cecece;
	margin-bottom:15px;
	box-shadow:none !important;
	padding:0px 15px;
	border-radius:3px;
}

.admnin-content input[type=text] {
	width:375px;
}

.admnin-content select{
	border:1px solid #cecece;
	margin-bottom:15px;
	box-shadow:none !important;
	padding:0px 15px;
	border-radius:3px;
}

.admnin-content textarea{
	border:1px solid #cecece;
	box-shadow:none !important;
	margin-bottom:15px;
	padding:15px;
	border-radius:3px;
}
/*Admin End*/
