body{
    padding:0px;
    margin:0px;
    background-color:rgb(85, 85, 85);
}
@font-face {
    font-family:mystik;
    src:url("secondMystik.ttf");
}
#noneBlck{
  display:none;
}
div{
    margin:100px;
}
span{

}
/* div:hover>span{
    display:none;
} */
#block{
    margin-left:500px;
    margin:50px;
    background-color:#cecece;
    text-align:center;
    padding-bottom:50px;
}
#block > h1{
    font-size:60px;
    font-family:mystik;
}
#calculatePlace{
    font-size:30px;
}
