body{
    padding:0px;
    margin:0px;
    background-image:url(../images/x-table/tree.jpg);
    position:absolute;
    background-size:cover;
    /* box-shadow:0 0 5px 15px black inset; */
}
@font-face {
    font-family:x-files;
    src:url("Halbp.ttf");
}
@font-face {
    font-family:good;
    src:url("ofont.ru_1 Shelley Volante.ttf");
}
#tarelka{
    width:250px;
    height:250px;
    position:relative;
    top:40px;
    left:40px;
    background-image: url(../images/x-table/tarelka.png);
    -webkit-background-size:cover;
    background-size:cover;
}
#food{
    width:200px;
    height:200px;
    position:relative;
    top:-180px;
    left:60px;
    background-image: url(../images/x-table/food.png);
    -webkit-background-size:cover;
    background-size:cover;
}
#coffe{
    width:180px;
    height:180px;
    position:relative;
    top:;
    left:;
    background-image: url(../images/x-table/cofe.png);
    -webkit-background-size:cover;
    background-size:cover;
}
#list{
    width:420px;
    height:300px;
    bottom:340px;
    left:250px;
    transform:rotateZ(160deg);
    position:relative;
    background-image: url(../images/x-table/tablet1.png);
    -webkit-background-size:cover;
    background-size:cover;
    font-family:x-files;

}
#list>span{
    font-size:13px;
    transform:rotateZ(180deg);
    display:inline-block;
    position:relative;
    top:0px;
    left:30px;
    width:70%;
}
#list>span>p{

}
#topSecret{
    width:100px;
    height:60px;
    position:relative;
    top:190px;
    left:50px;
    transform:rotateZ(180deg);
    background-image: url(../images/x-table/topsecret.png);
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
/* #spoon{
    width:250px;
    height:400px;
    position:relative;
    top:;
    left:;
    background-image: url(../images/x-table/spoon.png);
    -webkit-background-size:cover;
    background-size:cover;
} */
#paper{
    width:310px;
    height:400px;
    padding:20px;
    position:relative;
    top:-800px;
    left:750px;
    transform:rotateZ(-10deg);
    background-image: url(../images/x-table/paper2.png);
    -webkit-background-size:cover;
    background-size:cover;
    font-family:good;
    font-size:22px;
}
#paper>span{
    position:relative;
    display:inline-block;
    width:80%;
    top:45px;
    margin:5px;
    left:10px;

}
#klyaksa{
    width:180px;
    height:180px;
    position:relative;
    top:-850px;
    right:-1050px;
    background-image: url(../images/x-table/klyaksa.png);
    -webkit-background-size:cover;
    background-size:cover;
}
#pero{
    width:380px;
    height:120px;
    position:relative;
    top:-1200px;
    right:-1050px;
    transform: rotateZ(-50deg);
    background-image: url(../images/x-table/pero.png);
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
