body{
	margin:0px;
	padding:0px;
	background-color:rgb(43, 49, 73);
}
   /* display:flex;*/

		/*Flex - позволяет распологать элементы лежащие внутри блока при помощи технологии FLEX. Свойство display с значением flex применяется
		именно к родителю тех элементов, которые мы планируем размещать на странице при помощи FLEX*/

	/*flex-direction:column;*/

		/*
		Имя свойства: flex-direction
		Описание: Позволяет определить направления расположения элементов внутри блока с свойством display:flex;
		Возможные значения:
		- row
		- column
		- row-reverse
		- column-reverse
		*/

	/*justify-content:center;*/

		/*
		Имя свойства:justify-content
		Описание: Свойство позволяет определить выравнивание flex элементов внутри блока по ширине родительского блока. Возможно одновременное использование с свойством align-items которое позволяет выравнивать элементы по высоте род.блока.
		Возмозные значения:
		- flex-start (Если flex-diriction указан как row, то элементы находятся в левой части блока, если flex-diriction указан как column то элементы находятся в верхней части блока)
		- flex-end (сли flex-diriction указан как row, то элементы находятся в правой части блока, если flex-diriction указан как column то элементы находятся в нижней части блока)
		- center (Если flex-direction указан как row, то элементы отправляются в центр блока горизонтали, если flex-direction указан как column тогда элементы устремляются в центр по вертикали)
		- space-berween (Элементы устанавливаютя на равном удалении друг от друга без свободного пространства между первым и последним flex элементов по отношению к границам родительского блока)
		- space-around (Элементы устанавливаются на равном удалении друг от друга с наличием свободного пространства между границей родительского блока и первым а так же последним flex элементов)
		*/

	/*align-items:stertch;*/

		/*
		Имя свойства: align-items
		Описание свойства: Свойство позволяет определить выравнивание flex элементов внутри блока по высоте родительского блока. Возможно одновременное использование с свойством justify-content которое позволяет выравнивать элементы по ширине род.блока.
		Возможные значения:
		- flex-start (Элементы располагаются в верхне чсти род. блока)
		- flex-end (Элементы располагаются в нижней части род.блока)
		- center (Элементы устремляют в центр род.блока по высоте)
		- stretch (Если элементы не имеют фиксирвонной ширины, они стремятся занять всю доступшную высоту род.блока)
		*/

		/*align-self:;*/

			/*
			Имя свойства: align-self
			Описание свойства: Позволяет определить положение одного элемента располагающегося внутри блока с использованием Flex. Применяется непосредственно к самому тегу
			Который должен располагаться удобным нам образом по отношению к родителю.
			Возможные значения:
			- flex-start (Элементы располагаются в верхне чсти род. блока)
			- flex-end (Элементы располагаются в нижней части род.блока)
			- center (Элементы устремляют в центр род.блока по высоте)
			- stretch (Если элементы не имеют фиксирвонной ширины, они стремятся занять всю доступшную высоту род.блока)
			*/

		/*flex-basis*/
			/*
			Имя свойства: flex-basis
			Описание свойства: Позволяет задать изначальный размер flex-элементов до изменения размеров при помощи других свойств flex до изменения
			размера при помощи друних свойтсв flex для работы с размерами. Важно понимать что свойтсво flex-basis задает размер по основной оси flex-элементов.
			Проще говоря, если у родителя всех flex элементов задано значение row для flex-direction, flex-basis будет задавать им именно ширину а если column
			то свойство будет задавть изначальную высоту элементам
			Возможные значения:
			- px
			- %
			*/
			/*
			Имя свойства: flex-grow
			Описание: Позвооляет определить занимаемую элементом долю пространства в материнском блоке. По умолчанию всем
			flex-элементам передается данное свойсвто с значением 1. мы можем передать данное свойство одному или нескольким элементам
			в зависимости от наших на то потребностей. Чем больше указанное нами значение свойства, тем больше места элемент будет занимать относительно
			остальных элементов
			возможные значения:
			- число
			*/
			/*
			Имя свойства: flex-shrink
			Описание: Свойство, противоположное flex-grow. Данное свойство указывает насколько мало пространства элемент может занять, если
			его материнский блок меньше базового размера
			возможные значения:
			- число
			*/
			/*
			Имя свойства: flex
			Описание: принимает три значения через пробел. Поозволяет задать сразу три значения -это flex-grow flex-shrink и flex-basis именно
			в этом порядке для записи значений
			Возможные значения:
			*/
.row{
	outline:1px solid black;
	height:110px;
	display: flex;
}
.chet{
	background-color:white;
	height:100%;
	flex:3 3 200px;
}
.nechet{
	background-color:black;
	height:100%;
	flex:1 1 200px;
}
