body{
    background-color:rgb(44, 42, 66);
    color:rgb(162, 159, 159);
}
.colorOfExample{
    color:rgb(162, 159, 159);
}
/*
:empty - псевдокласс, указанные свойства будут переданы элементу, только
    если он пустой(в нем нет тегов и текста)
Пример применения: Если у элемента(блока) списка нет текста - его луше будет скрыть
*/
.emptyPadding{
    outline:1px solid green;
    padding:20px;
    display:block;
}
.emptyPadding:empty{
    outline:1px solid red;
    padding:20px;
    display:block;
}

/*
    :first-line - псевдоэлемент, предает указанные свойства только первой строке элемента
*/
.firstline{
    border:2px solid orange;
    background-color:rgb(111, 111, 111);
    color:black;
    padding:10px;
}
.firstline:first-line{
    text-decoration: underline;
    font-size:19px;
    color:red;

}
/*
    :first-letter - псевдоэлемент, пережает указанные свойства первой букве элемента
*/

.firstletter{
    border:2px solid orange;
    background-color:rgb(111, 111, 111);
    color:black;
    padding:10px;
}
.firstletter::first-letter{
    font-size:25px;
    background:yellow;
    color:red;
}
/*

    :first-child - применяется к элементу, который является чьим либо
    первым ребенком. Только в случае, если этот элемент является первым
    ребенков у своего родителя, будут применены переданные свойсва.

    :last-child - применяется к элементу, который является чьим либо
    последний ребеноком.

    :only-child - передает указанные свойства только в случае если элемент
    является единственным ребенком у своего родителя

*/
#chilDiv{
    border:2px solid orange;
    background-color:rgb(111, 111, 111);
    color:black;
    padding:10px;
}
.childs:first-child{
    /* border:2px solid rgb(143, 39, 156); */
    color:rgb(77, 209, 151);
}
.childs:last-child{
    /* border:2px solid rgb(39, 156, 117); */
    color:yellow;

}
.childs:only-child{
    color:red;
}









#block{
    box-shadow:0 0 10px rgb(198, 20, 20);
    text-shadow:0 0 10px rgb(20, 80, 198);
    color:white;
    text-align:center;
    /* padding:10px; */
    font-size:80px;
    margin-top:300px;
    padding:0px;
    margin:0px;
    float:left;
    margin:auto;
    position:relative;
    left:360px;
    top:100px;
}
#block::before{
    border:1px solid red;
    box-shadow:-4px 0 20px rgb(20, 80, 198);
    display:block;
    width:91px;
    height:91px;
    content:"";
    float:left;
    margin-right:10px;
}

#block::after{
    border :1px solid blue;
    box-shadow:4px 0 20px rgb(198, 20, 20);
    display:block;
    width:91px;
    height:91px;
    content:"";
    float:right;
    margin-left:10px;
}
#center{
    float:auto;
}
