#nthChild1 li:nth-child(1){
    background-color:red;
}
#nthChild2 li:nth-child(2){
    background-color:red;
}
#nthChild3 li:nth-child(3){
    background-color:red;
}
#nthChild1 li:nth-child(4){
    background-color:red;
}
#nthChild2 li:nth-child(5){
    background-color:red;
}
#nthChild3 li:nth-child(6){
    background-color:red;
}
#nthChild1 li:nth-child(7){
    background-color:red;
}
#nthChild2 li:nth-child(8){
    background-color:red;
}
#nthChild3 li:nth-child(9){
    background-color:red;
}
#nthChild1 li:nth-child(10){
    background-color:red;
}
#nthChild2 li:nth-child(11){
    background-color:red;
}
#nthChild3 li:nth-child(12){
    background-color:red;
}
#nthChild1 li:nth-child(13){
    background-color:red;
}
#nthChild2 li:nth-child(14){
    background-color:red;
}
#nthChild3 li:nth-child(15){
    background-color:red;
}
#nthChild1 li:nth-child(16){
    background-color:red;
}
#nthChild2 li:nth-child(17){
    background-color:red;
}
#nthChild3 li:nth-child(18){
    background-color:red;
}
#nthChild1 li:nth-child(19){
    background-color:red;
}
#nthChild2 li:nth-child(20){
    background-color:red;
}
#nthChild3 li:nth-child(12){
    background-color:red;
}
