body{
    background-color:rgb(44, 42, 66);
    color:rgb(162, 159, 159);
    padding:0px;
    margin:0px;
}
@font-face {
    font-family:Stalker;
    src:url("rusboycott.ttf");
}
h1{
    font-family:Stalker;
    position:absolute;
    top:40px;
    right:80px;
    font-size:50px;
    color:rgb(96, 96, 96);
}
h2{
    font-size:35px;
    position:absolute;
    top:110px;
    right:40px;
    color:rgb(96, 96, 96);
}
div{
    overflow:hidden;
    width:1366px;
    height:768px;
    position:relative;
}
img{
    width:1366px !important;
    height:768px !important;
}
form{
    position:absolute;

}
form input{
    margin-bottom: 10px;
}
.form{
    position:absolute;
    top:220px;
    right:450px;
    width:400px;
    height:550px;
}
.formField{

}
input{
    background-color:rgba(74, 73, 72, 0.45);
    padding:5px;
    width:200px;
    font-size: 20px;
    box-shadow:0 0px 12px -3px black inset;
    color:rgb(8, 7, 7);
}
input::placeholder{
    color:rgb(162, 162, 162);
}
input:focus{
    outline:none !important;
    border:none !important;
}
textarea{
    background-color:rgba(74, 73, 72, 0.45);
    padding:5px;
    width:325px;
    height:190px;
    font-size:20px;
    color:rgb(8, 7, 7);
    font-size:25px;
    box-shadow:0 0 23px -3px black inset;
    margin-bottom:10px;
}
textarea::placeholder{
    color:rgb(162, 162, 162);
}
textarea:focus{
    outline:none !important;
    border:none !important;
}
.hey{
    /* background-color:rgb(74, 73, 72); */
    width:170px;
    font-size: 20px;
    box-shadow:3px 4px 23px 4px rgb(43, 231, 219);
    box-shadow:-3px -4px 23px 4px black;
    cursor:pointer;
    color:rgb(162, 162, 162);
}
.hey:hover{
    background-color:rgba(74, 73, 72, 0.85);
}
#block{
    box-shadow:0 0 10px rgb(198, 20, 20);
    text-shadow:0 0 10px rgb(20, 80, 198);
    color:white;
    text-align:center;
    /* padding:10px; */
    font-size:60px;
    margin-top:300px;
    padding:0px;
    margin:0px;
    float:left;
    left:130px;

}
#block::before{
    border:1px solid red;
    box-shadow:-4px 0 20px rgb(20, 80, 198);
    display:block;
    width:70px;
    height:70px;
    content:"";
    float:left;
    margin-right:10px;
}

#block::after{
    border :1px solid blue;
    box-shadow:4px 0 20px rgb(198, 20, 20);
    display:block;
    width:70px;
    height:70px;
    content:"";
    float:right;
    margin-left:10px;
}
#center{
    margin:auto;
}
